NODE_ENV="development"
POSTGRES_USER="username"
POSTGRES_PASSWORD="password"
POSTGRES_DB="starter"
POSTGRES_PORT=5433

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"

REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_USERNAME=""
REDIS_PASSWORD=""