{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@api/(.*)$",
    "^@src/(.*)$",
    "^@app/(.*)$",
    "^@services/(.*)$",
    "^@config/(.*)$",
    "^@constants/(.*)$",
    "^@shared/(.*)$",
    "^@utils/(.*)$",
    "^../(.*)$",
    "^./(.*)$"
  ],
  "importOrdrerSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
